BasedOnStyle: GNU
IndentWidth: 2
TabWidth: 2
UseTab: Never
ColumnLimit: 75
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: true
NamespaceIndentation: None
PointerAlignment: Right
SpaceAfterCStyleCast: true
SortIncludes: true
IncludeBlocks: Regroup
SpacesBeforeTrailingComments: 1
SpaceAfterTemplateKeyword: true
AlwaysBreakTemplateDeclarations: MultiLine
ReflowComments: true
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignTrailingComments: true
Cpp11BracedListStyle: false
AccessModifierOffset: -4
ConstructorInitializerAllOnOneLineOrOnePerLine: true
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortEnumsOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
BreakAfterOpenBracketFunction: true
AlignEscapedNewlines: Right
AlwaysBreakAfterReturnType: All
BreakBeforeCloseBracketBracedList: true
BreakStringLiterals: true
BreakBeforeBraces: Attach
AllowShortBlocksOnASingleLine: false
BinPackArguments: false
BinPackParameters: false
AllowAllArgumentsOnNextLine: false
ContinuationIndentWidth: 8
AlignArrayOfStructures: Left
IndentCaseLabels: true
